
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penn Tech Review Scheduler</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>

  <body>
  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Penn Tech Review Post Scheduler
        </h1>
        <h2 class="subtitle">
          Write and schedule posts for individual Facebook statuses
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container" style="width:80%"> 
      <h1 class="title is-paddingless is-marginless">
         📣 All Scheduled Posts 
      </h1>
      <a class="button is-pulled-right is-success" href="/schedulepost">+ Schedule new post</a>
      <br><br><br>
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Post author</th>
            <th>Content</th>
            <th>Status</th>
            <th>Article link</th>
            <th>Edit post</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>Status here here here</td>
            <td>Link here</td>
            <td><a>Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  </body>
</html>